// font styles
.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}
.montserrat1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
}
.crimson_text {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.open_sans2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.roboto {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}


// styles for site positioning
.container {
  max-width: 1180px;
  margin: 0 auto;
}


// resetting standard browser styles
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom__checkbox, .input__radio, .radio__amount {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

// standard image style
img {
  display: block;
  max-width: 100%;
}


// styles for titles and body
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin: 0px;
  padding: 0px;
}
h1, h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


// styles for entering text fields
input:hover {
  outline: none;
  border: 1px solid #C29974;
  transition: 0.2s;
}
input:focus {
  outline: none;
  border: 1px solid #C29974;
}
input:disabled {
  outline: none;
  border: 1px solid #f5f5f5;
}


// styles for input checkbox
.custom__checkbox+.checkbox__label::before {
  content: ''; 
  display: inline-block; 
  width: 19px;
  height: 19px; 
  border: 2px solid #C29974; 
  background: #FFFFFF;
  border-radius: 3px; 
  margin-right: 14px; 
  cursor: pointer;
}
.custom__checkbox:checked+.checkbox__label::before {
  background-image: url(../img/icons/frame_check2.svg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 95%;
}


// general style when hovering over input text
.custom__checkbox, 
.input__radio, 
.checkbox__label:hover {
  text-decoration: underline;
  cursor: pointer;
}


// styles for the button
.botton__link {
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px 20px;
  max-width: max-content;
  background: black;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.botton__link:hover {
  background: #C29974;
}
.botton__link:active {
  background-color: #cfaf91;
}
.botton__link:disabled {
  background: #c7c1c1;
}


// style for disabling the title
.hidden__title {
  display: none;
}


// style for the catalog
.catalog__img {
  width: 280px;
  height: 270px;
  background-color: #EEE4DB;;
}
.catalog__item {
  position: absolute;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #FFFFFF;
  cursor: pointer;
}
.catalog__item:hover {
  text-decoration: underline;
}
.catalog__item:active {
  text-decoration: underline;
}