<section class="breadcrumbs">
    <h1 class="title_crubs montserrat">@@title</h1>
    <div class="crub_wrap">
        <nav class="crub_nav">
            <ul class="crub_ul">
                <li class="crub_li">
                    <a href="./index.html" class="link_crub crimson_text">Home</a>
                </li>
                <li class="crub_li">
                    <a href="@@href" class="link_crub1 crimson_text">@@text</a>
                </li>
            </ul>
        </nav>
    </div>
</section>