<form action="#" class="form__contact">

    <div class="from__wrapper">

        <div class="from__name">
            <label for="input-name" class="roboto">Name</label>
            <input type="text" id="input-name" placeholder="Ivan Ivanov" class="input_name">
        </div>

        <div class="field__wrap">
            <div class="from__phone">
                <label for="input-phone" class="roboto">Phone</label>
                <input type="number" id="input-phone" class="input_phone">
            </div>

            <div class="from__email">
                <label for="input-email" class="roboto">Email</label>
                <input type="email" id="input-email" class="input_email">
            </div>
        </div>

        <div class="from__message">
            <label for="textarea" class="roboto">Message</label>
            <textarea id="textarea" class="input_message" maxlength="400"></textarea>
        </div>

            <div class="from__processing">
                <input type="checkbox" id="input-processing" class="custom__checkbox">
                <label for="input-processing" class="checkbox__label roboto">By clicking on the button, you consent to the processing of your personal data</label>
            </div>

        <button class="botton__link open_sans2" type="submit">Submit</button>

    </div>

</form>