<section class="pagination">
    <h2 class="hidden__title">Pagination</h2>
    
    <div class="pagination__wrap">
        <a href="#" class="pagination_vector"></a>
        <ul class="pag_ul">
            <li class="numb"><span class="span_nb">1</span></li>
            <li class="numb"><span class="span_nb">2</span></li>
            <li class="numb"><span class="span_nb">3</span></li>
            <li class="numb"><span class="span_nb">4</span></li>
        </ul>
        <a href="#" class="pagination_vector1"></a>
    </div>

</section>